<div class="flex justify-center py-5">
  <h1 class="font-bold text-6xl">
    <span class="text-orange-400">P</span>
    <span class="text-orange-300">o</span>
    <span class="text-orange-200">l</span>
    <span class="text-orange-100">l</span>
    <span class="text-pink-100">a</span>
    <span class="text-pink-200">r</span>
    <span class="text-pink-300">i</span>
    <span class="text-pink-400">z</span>
    <span class="text-pink-500">e</span>
  </h1>
</div>
<div class="h-screen w-screen flex justify-center items-center">
  <button *ngIf="!isInSession" (click)="newSession()" class="rounded-full bg-gradient-to-r from-orange-300 to-pink-400 py-4 px-6 h-16 text-lg">Create Poll Session</button>
  <section *ngIf="isInSession" class="bg-dark h-full mt-10 w-5/6 lg:w-1/3 rounded-3x">
    <div class="py-6 px-4">
      <h1 class="text-xl text-gray-400 font-medium">CREATE NEW POLL</h1>
    </div>
    <form (ngSubmit)="createSession()" class="flex flex-col text-gray-400 px-4 space-y-1">
      <label class="text-md font-medium">Title</label>
      <input type="text" class="rounded bg-dark outline-none border-b-2 border-orange-400 pb-3 pt-1" >
      <label class="text-md font-medium">Description</label>
      <input type="text" class="rounded bg-dark outline-none border-b-2 border-gray-600 pb-3 pt-1" >
      <label class="text-md font-medium">Expire In?</label>
      <div class="grid grid-cols-5 border-2 border-gray-700 rounded-lg p-2">
        <button *ngFor="let time of expireTimePresets" id="expire-btn" class="rounded-lg p-2 bg-dark transition ease-in-out duration-150 bg-gradient-to-r hover:from-orange-300 hover:to-pink-400 hover:text-white focus:from-orange-300 focus:to-pink-400 focus:text-white">{{time}}</button>
      </div>
      <label class="text-md font-medium">Poll Items</label>
      <div class="flex">
        <button class="bg-gradient-to-br from-orange-300 to-pink-400 rounded-full h-12 w-12 text-white text-2xl font-extrabold">
          <span class="relative bottom-1 left-0">+</span >
        </button>
      </div>
    </form>
  </section>
</div>


<button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="authentication-modal">
  Toggle modal
  </button>

  <div id="authentication-modal" tabindex="-1" class=" overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">

  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
  <div class="flex justify-end p-2">
  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </button>
  </div>
  <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
  <h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign in to our platform</h3>
  <div>
  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
  <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required="">
  </div>
  <div>
  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
  <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required="">
  </div>
  <div class="flex justify-between">
  <div class="flex items-start">
  <div class="flex items-center h-5">
  <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required="">
  </div>
  <div class="ml-3 text-sm">
  <label for="remember" class="font-medium text-gray-900 dark:text-gray-300">Remember me</label>
  </div>
  </div>
  <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
  </div>
  <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
  <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
  Not registered? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
  </div>
  </form>
  </div>
  </div>
  </div>



